


<h1> Le Cordon Noir </h1>


<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/assets/placeholder.jpg
" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href ='/cohorts'> Cohorts</a> </h5>
      <p class="card-text">We have a new cohort that starts every quarter.Click below to see are upcoming cohorts</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/placeholder.jpg
" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href= "/courses">Courses</a></h5>
      <p class="card-text">We add new courses frquently. Check here to see what courses are currently avaiable.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/placeholder.jpg
" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href ="/instructors">Instructors</a></h5>
      <p class="card-text">Our instructors have a combined 55 years of experience .</p>
    </div>
  </div>
</div>