<h1>Homepage</h1>

<%# <% if current_user %> %>
     <%# <h3> Welcome, <%= current_user.email %> </h3> %>
    <%# <%= link_to 'Sign out' , destroy_user_session_path, method: :delete %> %>
     
    <%# <% else %> %>
    
        <%# <%= link_to 'Sign in' , new_user_session_path %> %>
<%# <% end %> %>

<%# if there is a current user, only show sign out, if not show them option to sign in or sign-up %>

