    

    
    <h1 id ='homepage-title'>Welcome to, Le Cordon Noir </h1>

    <h5 id = 'homepage-subtitle'>Brooklyn</h5>

    <p class = 'about-us'>Le Cordon Noir Chefs have worked in some of the most prestigious restaurants in the world, many of them are Michelin-starred and One of the Best Craftsmen in Brooklyn (Un des Meilleurs Ouvriers de Brooklyn - MOF). Every day they share their expertise and experience with our students who learn that achieving excellence goes hand in hand with hard work, dynamism and perseverance.
    Register today to be apart of our world renowned classes. Don't delay follow your passion. Classes begin soon!</p>
 

<%# <div id = 'login-links'> %>

            <div class = 'sign-options'>
                 <%= link_to 'Sign in' , new_user_session_path , class:"btn btn-light" %>
            </div>

          <div class = 'sign-options'>
            <%= link_to 'Sign up' , new_user_registration_path , class:"btn btn-light" %>
          </div>  
   
<%# </div> %>
<%# if there is a current user, only show sign out, if not show them option to sign in or sign-up %>





