<h1>Courses</h1>

<% @all_courses.each do |course|%>
<h3><%= course.name %></h3>
<p>Description: <%= course.description %></p>

<p>Total class time: <%= course.total_class_hours %></p>
<br>

<% end%>
